<!--
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="{{ site.adsense.ad-client }}"
     data-ad-slot="5115836752"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- oooo -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="{{ site.adsense.ad-client }}"
     data-ad-slot="6411930493"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
